body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  font-family: Tahoma;
  font-size: 12pt;  
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form,
.form .checkbox {
  margin-bottom: 10px;
  font-weight: normal;  
}

.form-heading{
    color: #FF953A;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 3px;
    margin-top: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.form-control {
    font-size: 12px;
    height: 32px;
    width: auto;
}


.btn {
    line-height: 1;
}

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
    border-color: #EE5F5B;
    color: #B94A48;
}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
    border-color: #E9322D;
    box-shadow: 0 0 6px #F8B9B7;
}

.control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus {
    border-color: #A47E3C;
    box-shadow: 0 0 6px #DBC59E;
}

.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
    border-color: #C09853;
    color: #C09853;
}


.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
    color: #B94A48;
}


input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 11px 15px 0;
}