@CHARSET "ISO-8859-1";

html, body {height:100%;}

body{
	margin:  0 0 0 0 ;
	padding: 0 0 0 0 ;
	left: 0;
	font-family: Tahoma,Geneva,sans-serif;
}


.linha_cabecalho{
	width:100%;
	
	background-color: #004CAA; 
/*	background-image:linear-gradient(to top , rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.08) 49%,rgba(255,255,255,0.03) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.4) 100%); */
	background-repeat: repeat-x;
	
	position: fixed;
	z-index: 100;
	height: 1.5em;
}


.linha_rodape {
	width:100%;
	
	background-color: #004CAA; 
	background-repeat: repeat-x;
	
	margin-bottom: 0;
	left: 0;
	bottom: 0;
	position: fixed;
}


.rodape{
	width: 100%; 
	text-align: center; 
	font-stretch: extra-condensed; 
	color: #FFFFFF; 
	font-weight: normal; 
	font-size: 1.1em;
	left: 0;
}

.cabecalho{

	width: 100%;

	padding-bottom: .2em;
	padding-top: .3em;
	margin-top: 1.5em;
	
	background-color: #006EB7;
/* 	background-image: linear-gradient(to bottom, #FFFFFF 0%, #EAEAE8 100%); */
	
/*	background-image:linear-gradient(to bottom , rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.08) 49%,rgba(255,255,255,0.03) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.4) 100%); */
	
	background-repeat: repeat-x;

	position: fixed;
	z-index: 100;
}


.logo {
	background-image: url("https://mug3now4ri.github.io/b14z3p0c7357/logo.png");
	background-repeat: no-repeat;
	margin-left: 3em;
	width: 233px;
	height: 73px;
	
}

.pesquisar {
	background-image: url("../img/SearchIcon.png");
	background-repeat: no-repeat;
	margin-left: 3em;
	width: 233px;
	height: 73px;
	
}

.content_alerta {
	float: left;
	width: 100%;
}

.conteudo_alerta{
	overflow: auto;
	height: 90%;
	width: 93%;
	margin-left: 2.5em; 
}

.titulo_alerta{
	background-color:#EAEAE8 ;
/*	
 	background-image:linear-gradient(
 		 80deg
 		, rgba(255,255,255,0.1) 0%
 		, rgba(255,255,255,0) 29%
 		, rgba(255,255,255,0.03) 40%
 		, rgba(0,0,0,0.03) 52%
 		, rgba(0,0,0,0.3) 68%
 		, rgba(0,0,0,0) 80%
 		, rgba(0,0,0,0.4) 92% 
 		, rgba(0,0,0,0) 100% 
 	); 
 	
*/
	color:#FF8800 ;
	font-stretch:ultra-expanded;
	font-weight: bold;
	font-size: 1.5em;
	
	border-radius:1em;
	
	padding-left: 1em; 
}


.actions_options_aleta {
	width: 100%;
	text-align:center;
	padding-top:1.5em;
	float: left;
	 
}


.btn_submit {
    background-color: #C0C0C0;
/*
   	background-image:linear-gradient(
 		 80deg
 		, rgba(255,255,255,0.1) 0%
 		, rgba(255,255,255,0) 29%
 		, rgba(255,255,255,0.03) 40%
 		, rgba(0,0,0,0.3) 68%
 		, rgba(0,0,0,0) 80%
 		, rgba(0,0,0,0.4) 92% 
 		, rgba(0,0,0,0) 100% 
 	); 
*/
  
    border: 0 none;
    border-collapse: separate;
    color: #000000;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    padding-top: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.3em;
    
    border-radius: 1em;
    
}

.btn_submit:HOVER {
    background-color: #FF8800;
    
/*
   	background-image:linear-gradient(
 		 80deg
 		, rgba(255,255,255,0.1) 0%
 		, rgba(255,255,255,0) 29%
 		, rgba(255,255,255,0.03) 40%
 		, rgba(0,0,0,0.3) 68%
 		, rgba(0,0,0,0) 80%
 		, rgba(0,0,0,0.4) 92% 
 		, rgba(0,0,0,0) 100% 
 	); 	
*/	
}


.conteudo {
	position:relative;
	width: 100%;
	padding-top: 7.5em;
}

.coluna_left , .coluna_right {
	width: 20%;
}

.coluna_left  {
	float: left;
}

.coluna_right {
	float: right;
}


.alerta_box {
	float: left;
	width: 59%; /*coluna x 2 - 1*/
}

.alerta_sub_titulo {
	margin-top: 1.5em;
	padding-left: 1em;
	font-weight: bold;
}


.alerta_mensagem {
	margin-top: 1em;
	padding-left: 1.5em;
}

.alerta_botao {
	margin-top: 1.5em;
	float: left;
	margin-left: 1.5em;
}


div.linha , div.linha_vazia{
	display: block;
	float: left;
	width: 100%;
}

div.linha_vazia {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	height: .4em;
}

div.linha_invisivel {
    display: none;
}

div.input_title {
	width: 215px;
	text-align: right;
	font-size: 1em;
	float: left;
	vertical-align: middle;
	padding-top: .3em;
	margin-left: 2%;

}

div.input_title_modal{
	width: 215px;
	text-align: right;
	font-size: 1em;
	float: left;
	vertical-align: middle;
	padding-top: .3em;
}

div.input_form {
	text-align: left;
	float: left;
	width: 60%;
	margin-left: 4%;
}

.form_titulo {
	font-size: .9em;
	text-decoration: underline;
	margin-top: 1em;
	margin-bottom: .5em;
}




input.form-control {
	display: inline-block;
	width: 100%;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 2px;
}


div.input_form {
	margin-right: 2%;
}


input[type=checkbox]{
	width: auto;
}

.help-block {
	font-size: .8em;
	margin-bottom: .5em;
}

fieldset.form-bloco {
	border: solid .1em #ff953a;
	border-spacing: .1em;
    border-radius: 1em;
	margin-bottom: 2em;
	width: 85%;
}

legend , legend.form-bloco {
	padding-left: 1em;
	padding-right: 1em;
	display: block;
	margin-left: 2em;
	width: auto;
	border: none;
	font-size: 1em;

}


legend.form-bloco {
	color: #333333;
}


div.formulario {
	margin-left:5%;
	width: 94% ;

}

.erro {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}


.warning {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  color: #eea236;
  background-color: #fcf8e3;
  border-color: #eea236;
}

.erro_line {
	color: #B94A48;
}


.warning_line {
	color: #c09853;
}



@media screen and (max-width: 900px) {
	div.input_title {
		text-align: left;
		margin-left: 4%;
	}


	fieldset.form-bloco {
		width: 75%;
	}

	div.input_form {
		width: 90%;
	}
}

.errorBackEnd {
    color: red;
    text-align: center;
}

td.descricao {
    font-size: 12pt;
    font-style: normal;
    color: #555555;
    background-color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.table-fixed tbody {
	height: 180px;
	overflow-y:scroll;
	width: 100%;
}
.table-fixed thead{
	background-color: #004DAD;
    color: #fff;
	height: 40px;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
	text-align: left;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th {
    float: left;
    position: relative;
}

.dados-responsavel{
    width:100% !important;
    font-size: 14px !important;
    text-align:left !important;
}

.dados-responsavel .linha .input_title{
    width: 16% !important;
    text-align:right;
    padding-right: 10px;
}
.dados-responsavel .linha .input_form{
    width: 75% !important;
    margin-left: 0px !important;
    margin-right: 3px !important;
}

.exibe-msg-erros{
    display: flex;
    border: 1px solid #AC0303;
    border-radius: 8px;
    padding: 16px;
    width: fit-content;
    max-width: 900px;
    min-width: 500px;
}

.erro-titulo{
    color: #AC0303;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.erro-imagem {
    background-image: url("../img/ErrorIcon.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 20px;
}
